<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
  <title th:text="#{email.creation.title}">Credenciales de acceso</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.creation.greeting(${user.login})}">Estimado/a</p>
<p th:text="#{email.creation.text1}">Se han creado sus credenciales de acceso al sistema:</p>
<p>
  <span th:text="#{email.creation.text2}">Usuario: </span>
  <span th:text="${user.login}">usuario</span>
</p>
<p>
  <span th:text="#{email.creation.text3}">Contraseña: </span>
  <span th:text="${password}">contraseña</span>
</p>
<p>
  <span th:text="#{email.creation.text4}">Por favor, cambie su contraseña después del primer acceso.</span>
</p>
<p>
  <a th:with="url=(@{|${baseUrl}/login|})" th:href="${url}" th:text="#{email.creation.link}">Acceder al sistema</a>
</p>
<p>
  <span th:text="#{email.creation.text5}">Atentamente,</span>
  <br />
  <em th:text="#{email.signature}">El equipo del sistema.</em>
</p>
</body>
</html>
